<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---Let's use bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!--- jquery ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Pagination Preview</title>
</head>
<body>

    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!--- Import JS File from static -->
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    
    <!-- Add Navbar-->
    <nav class="nav justify-content-center">
      <a class="nav-link active" href="/stats">Dummy List</a>
      <a class="nav-link" href="#">Statistics</a>
    </nav>
    
    <class class="container">

        <!--- Search bar for data -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" id="search">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search for color</button>
        </div>
        
        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody id="table">
                
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </class>
</body>
    

